<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

	<script type="text/javascript" src="../../tarteaucitron/tarteaucitron.js"></script>

	<script type="text/javascript">
		tarteaucitron.init({
			"privacyUrl": "",
			/* Privacy policy url */

			"hashtag": "#tarteaucitron",
			/* Open the panel with this hashtag */
			"cookieName": "tarteaucitron",
			/* Cookie name */

			"orientation": "middle",
			/* Banner position (top - bottom) */

			"showAlertSmall": false,
			/* Show the small banner on bottom right */
			"cookieslist": false,
			/* Show the cookie list */

			"showIcon": true,
			/* Show cookie icon to manage cookies */
			"iconPosition": "BottomRight",
			/* BottomRight, BottomLeft, TopRight and TopLeft */

			"adblocker": false,
			/* Show a Warning if an adblocker is detected */

			"DenyAllCta": true,
			/* Show the deny all button */
			"AcceptAllCta": true,
			/* Show the accept all button when highPrivacy on */
			"highPrivacy": true,
			/* HIGHLY RECOMMANDED Disable auto consent */

			"handleBrowserDNTRequest": false,
			/* If Do Not Track == 1, disallow all */

			"removeCredit": false,
			/* Remove credit link */
			"moreInfoLink": true,
			/* Show more info link */
			"useExternalCss": false,
			/* If false, the tarteaucitron.css file will be loaded */

			//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

			"readmoreLink": "",
			/* Change the default readmore link */

			"mandatory": true,
			/* Show a message about mandatory cookies */
		});
	</script>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "Organization",
			"name": "magot128lvl",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Marseille",
				"postalCode": "13000 ",
				"streetAddress": "27 rue du soleil",
				"telephone": "0381752436",
				"addressCountry": "France"
			},
			"openingHours": ["Mo-Fr 10:00-19:00", "Sa 11:00-18:00"],
			"email": "magot128lvl(at)gmail.com",
			"faxNumber": "(000) 000 00 00 0",
			"image": {
				"@type": "ImageObject",
				"url": "../../assets/images/logo/poubelle invisible-noeyestrash-magot128lvl.png",
				"description": "Poubelle fantome invisible",
				"name": "Logo Magot128lvl"
			},
			"priceRange": "€€",

		}
	</script>

	<title>NoEyesTrash - Magot128lvl</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Les poubelles NoEyesTrash innovées par l’entreprise Magot128lvl sont les poubelles du futur. 
		Alors n’attendez plus et venez regarder en avant avec nous. Le futur n’attend que vous.">
	<!-- Meta Description -->
	<meta name="keywords" content="NoEyesTrash, Magot128lvl">
	<link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="../../index.html">NoEyesTrash <span>by Magot128lvl</span></a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../../index.html">Accueil</a></li>
			<li><a href="../history.html">Notre histoire : Magot128lvl </a></li>
			<li><a href="../partenariat.html">Nos partenaires</a></li>
			<li><a href="../conditions.html">Conditions d'utilisations</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>NoEyesTrash - Magot128lvl</p>
				<h2>Concept de Magot128lvl - NoEyesTrash</h2>
			</header>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Optez pour les poubelles intérieurs NoEyesTrash de Magot128Lvl</p>
						<h2>Choisir sa poubelle encastrable</h2>
					</header>

					<h3>Poubelle intérieur chez vous !</h3>
					<p>Un grand nombre de modèles sont présents sur le marché, avec des tailles, des contenances, des
						formes, des couleurs toutes différentes, de fait il y en a pour tous les goûts, tous les
						besoins. Alors ce palmarès vous présente quatre modèles NoEyesTrash au top des poubelles de
						cuisine.
						Pour faire le bon choix, il s’agit avant tout de faire un choix basé sur vos attentes et vos
						besoins.
					</p>

					<p>S’équiper d’une poubelle encastrable c’est devenu tendance et surtout très pratique. Comment s’y
						retrouver et choisir celle qui répondra le mieux à vos attentes ? Une thématique dont on peut
						s’étonner mais une poubelle n’est pas simplement une poubelle. Ainsi, les cuisines actuelles ne
						cessent d’être toujours plus modernes, design, épurées et fonctionnelles.</p>

					<p>La poubelle de plan de travail est un accessoire très pratique pour votre cuisine. Pour garder
						l’esthétisme votre plan de travail vous pouvez opter pour la poubelle pour plan de travail
						encastrable. Le couvercle avec sa finition inox harmonisera parfaitement l'ensemble de la
						cuisine et empêchera les remontées d'odeurs.
						Une solution innovante pour les coulissants à déchets !
						Une légère pression suffit pour ouvrir le tiroir.

						Idéal pour votre cuisine, ce set Magot128lvl est très pratique. Vous avez les mains occupées ?
						il vous suffit de toucher votre façade avec la main, la hanche ou le genou pour déclencher
						l'ouverture automatique du tiroir. Pratique !
						Un système innovant et très pratique pour la cuisine, grâce à son système électrique une
						pression sur la façade avec la main, la hanche ou le genou par exemple suffira pour ouvrir votre
						tiroir sans peine et avec un grand confort d'utilisation.

						Pour cacher les poubelles de la cuisine, rien de tel que de les mettre dans un placard !
						Disposant d'une robuste structure métallique, cette poubelle coulissante s'intègre
						indifféremment à droite, à gauche ou au centre du placard. Un large couvercle coulissant coiffe
						l'ensemble. A l'ouverture du placard, la poubelle se découvre et glisse sur le support, mettant
						à votre disposition deux larges bacs de 15 litres.</p>

					<h3>Fiche produit de la poubelle NoEyesTrash</h3>
					<p>Une belle contenance de déchets (32 litres) pour des dimensions compactes de 34,6 x 33,6 x 46,9
						cm (H – l – P). En conséquence, le meuble dans lequel elle sera encastrée devra être de 40 cm
						minimum avec une porte à charnières. Elle se constitue de deux bacs de 16 litres chacun, ce qui
						offre une belle contenance même pour des foyers avec enfants. Enfin, pour équiper ces bacs, des
						sacs de 20 litres sont parfaitement adéquats.
						Tout en plastique, son nettoyage est rapide et efficace. Son installation est des plus simples.
						Sa fixation se fait au fond du placard par 6 vis et le marquage des points de perçage grâce à un
						gabarit fourni avec vis et notice.</p>


					<h3>Kit poubelle</h3>
					<p>Ensemble complet pour votre tiroir sous évier. Pack complet composé d'un socle et de plusieurs
						bacs, à poser directement dans votre tiroir. Un aménagement complet et pratique pour mettre en
						place une poubelle dans votre cuisine.</p>

					<h3>Avantages d’une poubelle NoEyesTrash de Magot128lvl</h3>
					<p>C’est parce qu’elles présentent nombre d’avantages que les poubelles encastrables, les kits
						poubelles ou encore les poubelles plan de travail se sont infiltrées dans les cuisines modernes.
						Citons alors les quelques avantages de ce type de poubelle afin d’orienter notre sélection.</p>

					<h3>La discrétion</h3>
					<p>Incontestablement, en tête de liste des atouts arrive sa discrétion ; fini la poubelle qui vient
						entacher la belle décoration de la cuisine, qui déborde, entrave le passage et qui, en plus,
						prend de la place ! Aux rebus les bacs encombrants, en route pour une cuisine harmonieuse sans
						mauvaises odeurs. Ces dernières, dues aux déchets alimentaires, sont désormais en quarantaine
						dans une poubelle invisible et dotée d’un couvercle souvent hermétique voire équipé d’un filtre
						anti odeurs créé par l’entreprise Magot128lvl.
						Grâce à un système coulissant que l’on prendra le soin de choisir robuste et en métal, la
						poubelle reste relativement peu encombrante fermée. En position ouverte, elle vous facilite la
						vie lorsque vous voulez vous débarrasser de vos déchets et lors du changement de sac.</p>

					<h3>Le tri sélectif</h3>
					<p>Une praticité remarquable : le tri sélectif se fait spontanément grâce aux bacs séparés et ainsi
						la poubelle encastrée est souvent présente là où se fait la cuisine. On s’accorde aussi à
						attribuer à ces poubelle une certaine facilité d’entretien. Vous verrez qu’il y en a pour tous
						les goûts. Si par exemple vous rechercher 3 bacs de contenances similaires, nous avons testé ces
						poubelles NoEyesTrash pour vous.
						<br> Mais peut-être recherchez-vous des contenances différentes ? Car il y a des types de
						déchets encombrants et d’autres qui nécessitent un changement quasi quotidien. Dans ce cas il
						est aussi possible de trouver votre bonheur dans les poubelles tri sélectif que nous avons
						testé. Enfin vous constaterez que les volumes varient d’une vingtaine de litres au total jusqu’à
						presque 50 litres pour les foyers avec des besoins plus importants.</p>

					<h3>Notre avis</h3>
					<p>Il est sans appel : gain esthétique, gain de place, gain financier avec une poubelle qui en
						réunit deux et bénéfice pour l’écologie.
						En fait, le fonctionnement des boubelles encastrables NoEyesTrash est aussi simple que son
						installation. La poubelle fonctionne par coulissement grâce à un système de rails.
						L’installation se fait en quelques minutes avec quelques vis (4 à 6 en moyenne). Pour les kits
						poubelles il suffit de poser dans un tirroir et la poubelle plan de travail sera faite sur
						mesure.</p>


				</div>
			</div>
		</div>
	</section>

	<div class="box">
		<h3><b>Commentaires </b></h3>
		<div class="content"
			style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid#CDC99E;">

			<h4>René Charpentier</h4>
			<p>Client depuis le début, j'ai directement penser à Magot128lvl. Merci beaucoup !
				<strong>Magot128lvl</strong> vous êtes les meilleurs</p>
		</div>
		<div class="content"
			style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid #CDC99E;">
			<h4>Pierre Poisson</h4>
			<p>Ma cuisine est égayer, ma femme me prépare depuis de très bon plats! Et tout cela, grâce à la poubelle.
				<strong>Magot128lvl</strong> vous êtes les meilleurs</p>
		</div>
	</div>

	<!-- PUB AMAZON -->
	<div style="display: flex; justify-content:center">
		<div class="amazon_product" amazonid="20010c1-21" productid="B005PS3QEO"></div>
		<div class="amazon_product" amazonid="20010c1-21" productid="B07YMFZ5QN"></div>
	</div>
	<!-- PUB ADSENSE -->
	<ins class="adsbygoogle" style="display:inline-block;width:widthpx;height:heightpx"
		data-ad-client="ca-pub-9446744921430952" data-ad-slot="ad_slot"></ins>
	<script type="text/javascript">
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<p>Magot128lvl</p>
			<p> 03.54.85.67.91</p>
			<p> 27 rue du soleil , 13000, Marseille</p>
			<ul class="icons">
				<li><a href="https://twitter.com/magot128lvl" class="icon fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/magot.lentrprise" class="icon fa-facebook"><span
							class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/magot128lvl/?hl=fr" class="icon fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="https://mail.google.com/mail/u/2/#inbox?compose=CllgCJTNqmSvnZhPlbnGdxcHKwCmxBzGvHBRGtjwqLKvwxdGdRkkzvvczndMXdxTfcxgLrhLfbq"
						class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			Quand les déchets se font discret. NoEyesTrash - Magot128lvl - All rights reserved.
			<p>BOBIN Edgar - GRUTZNER Hélène - GUTTING Fanny</p>
		</div>
	</footer>

	<!-- Scripts -->

	<script type="text/javascript">
		tarteaucitron.user.addthisPubId = 'ra-5f758e9eb783fa41';
		(tarteaucitron.job = tarteaucitron.job || []).push('addthis');
	</script>

	<script type="text/javascript">
		tarteaucitron.user.gtagUa = 'G-T0V4TDW66Y';
		tarteaucitron.user.gtagMore = function () {
			/* add here your optionnal gtag() */
		};
		(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
	</script>

	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('amazon');
	</script>
	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('adsense');
	</script>

	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery.scrollex.min.js"></script>
	<script src="../../assets/js/skel.min.js"></script>
	<script src="../../assets/js/util.js"></script>
	<script src="../../assets/js/main.js"></script>

</body>

</html>