<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

	<script type="text/javascript" src="../../tarteaucitron/tarteaucitron.js"></script>

	<script type="text/javascript">
		tarteaucitron.init({
			"privacyUrl": "",
			/* Privacy policy url */

			"hashtag": "#tarteaucitron",
			/* Open the panel with this hashtag */
			"cookieName": "tarteaucitron",
			/* Cookie name */

			"orientation": "middle",
			/* Banner position (top - bottom) */

			"showAlertSmall": false,
			/* Show the small banner on bottom right */
			"cookieslist": false,
			/* Show the cookie list */

			"showIcon": true,
			/* Show cookie icon to manage cookies */
			"iconPosition": "BottomRight",
			/* BottomRight, BottomLeft, TopRight and TopLeft */

			"adblocker": false,
			/* Show a Warning if an adblocker is detected */

			"DenyAllCta": true,
			/* Show the deny all button */
			"AcceptAllCta": true,
			/* Show the accept all button when highPrivacy on */
			"highPrivacy": true,
			/* HIGHLY RECOMMANDED Disable auto consent */

			"handleBrowserDNTRequest": false,
			/* If Do Not Track == 1, disallow all */

			"removeCredit": false,
			/* Remove credit link */
			"moreInfoLink": true,
			/* Show more info link */
			"useExternalCss": false,
			/* If false, the tarteaucitron.css file will be loaded */

			//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

			"readmoreLink": "",
			/* Change the default readmore link */

			"mandatory": true,
			/* Show a message about mandatory cookies */
		});
	</script>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "Organization",
			"name": "magot128lvl",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Marseille",
				"postalCode": "13000 ",
				"streetAddress": "27 rue du soleil",
				"telephone": "0381752436",
				"addressCountry": "France"
			},
			"openingHours": ["Mo-Fr 10:00-19:00", "Sa 11:00-18:00"],
			"email": "magot128lvl(at)gmail.com",
			"faxNumber": "(000) 000 00 00 0",
			"image": {
				"@type": "ImageObject",
				"url": "../../assets/images/logo/poubelle invisible-noeyestrash-magot128lvl.png",
				"description": "Poubelle fantome invisible",
				"name": "Logo Magot128lvl"
			},
			"priceRange": "€€",

		}
	</script>

	<title>NoEyesTrash - Magot128lvl</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description"
		content="Les poubelles invisibles NoEyesTrash innovées par l’entreprise Magot128lvl sont les poubelles du futur. 
		Alors n’attendez plus et venez regarder en avant avec nous. Les poubelles Noeyestrash by Magot128lvl n’attendent que vous.">
	<!-- Meta Description -->
	<meta name="keywords" content="NoEyesTrash, Magot128lvl">
	<link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="../../index.html">NoEyesTrash <span>by Magot128lvl</span></a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../../index.html">Accueil</a></li>
			<li><a href="../history.html">Notre histoire : Magot128lvl </a></li>
			<li><a href="../partenariat.html">Nos partenaires</a></li>
			<li><a href="../conditions.html">Conditions d'utilisations</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>NoEyesTrash - Magot128lvl</p>
				<h2>La poubelle municipale</h2>
			</header>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>OPTEZ POUR LES POUBELLES NOEYESTRASH DE MAGOT128LVL</p>
						<h2><strong>Poubelles invisible dans les parcs municipaux</strong> by Magot128lvl</h2>
						<h3>Un atout écologique et économique</h3>
					</header>

					<h3>Poubelles invisibles dans les parcs municipaux</h3>
					<p>Et oui les poubelles invisibles Noeyestrash aussi peuvent sentir bon ! En ces temps de fortes
						pollutions dans les grandes villes,
						nos ingénieurs ont réfléchi à une proposition nouvelle et écologique. La poubelle invisible
						NoEyesTrash.
						Notre entreprise, Magot128lvl a développé une technique pour faire en sorte que les poubelles
						passent inaperçu dans les parcs municipaux. </p>

					<h4>Comment la poubelle NoEyesTrash fonctionne ?</h4>
					<p>Le principe est simple. Nous avons créer une poubelle en metal entouré d’une structure en bois.
						Le bois provient d'un partenaire de notre entreprise Magot128lvl qui se trouve dans vosges.
						Cette matière permet
						donc de rendre nos poubelles invisibles au yeux des passants. Sur le dessus de cette structure,
						se trouvera des pots de fleurs selon les saisons ce qui rend notre produit attractif et
						écologique pour les communes. La poubelle NoEyesTrah sera donc invisible puisque ce que l’on
						verra
						en premier ce sera une structure fleurie dans un environnement boisé entouré d’arbres.
					</p>

					<p>
						Ces poubelles made in France sont donc révolutionnaires, notre société Magot128lvl est le
						premier concepteur de poubelle invisible en France.
					</p>



					<h4>Fiche produit de NoEyesTrash by Magot128lvl</h4>
					<p>Poubelle de 50*90cm.
						Matériaux utilisés : bois et metal
						Le plus de ce produit : Notre entreprise est réputée pour ces aspects écologiques qui entrent
						parfaitement dans le cadre du développement durable. Des entreprises telles que Greenpeace
						soutiennent nos produits. Alors faites-en autant, et parlez autour de vous de NoEyesTrash.
					</p>

					<img src="../../assets/images/articles/poubelle_parc-noeyestrash-magot128lvl.png"
						alt="Poubelle invisible - NoEyesTrash - Magot128lvl">


					<p></p>
				</div>
			</div>
		</div>
	</section>

	<div class="box">
		<h3><b>Commentaires </b></h3>
		<div class="content"
			style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid#CDC99E;">

			<h4>Olivier Delacourcelle</h4>
			<p>Moi qui suit maire de Nieder, j'adore!
				<strong>Magot128lvl</strong> vous êtes les meilleurs</p>
		</div>
		<div class="content"
			style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid #CDC99E;">
			<h4>Marguerite Moisson</h4>
			<p>Je trouve ce produit génial, c'est un concept fantastique pour nos villes. Bravo !
				<strong>Magot128lvl</strong> vous êtes les meilleurs</p>
		</div>
	</div>

	<!-- PUB AMAZON -->
	<div style="display: flex; justify-content:center">
		<div class="amazon_product" amazonid="20010c1-21" productid="B005PS3QEO"></div>
		<div class="amazon_product" amazonid="20010c1-21" productid="B07YMFZ5QN"></div>
	</div>
	<!-- PUB ADSENSE -->
	<ins class="adsbygoogle" style="display:inline-block;width:widthpx;height:heightpx"
		data-ad-client="ca-pub-9446744921430952" data-ad-slot="ad_slot"></ins>
	<script type="text/javascript">
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<p>Magot128lvl</p>
			<p> 03.54.85.67.91</p>
			<p> 27 rue du soleil , 13000, Marseille</p>
			<ul class="icons">
				<li><a href="https://twitter.com/magot128lvl" class="icon fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/magot.lentrprise" class="icon fa-facebook"><span
							class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/magot128lvl/?hl=fr" class="icon fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="https://mail.google.com/mail/u/2/#inbox?compose=CllgCJTNqmSvnZhPlbnGdxcHKwCmxBzGvHBRGtjwqLKvwxdGdRkkzvvczndMXdxTfcxgLrhLfbq"
						class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			Quand les déchets se font discret. NoEyesTrash - Magot128lvl - All rights reserved.
			<p>BOBIN Edgar - GRUTZNER Hélène - GUTTING Fanny</p>
		</div>
	</footer>

	<!-- Scripts -->

	<script type="text/javascript">
		tarteaucitron.user.addthisPubId = 'ra-5f758e9eb783fa41';
		(tarteaucitron.job = tarteaucitron.job || []).push('addthis');
	</script>

	<script type="text/javascript">
		tarteaucitron.user.gtagUa = 'G-T0V4TDW66Y';
		tarteaucitron.user.gtagMore = function () {
			/* add here your optionnal gtag() */
		};
		(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
	</script>

	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('amazon');
	</script>
	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('adsense');
	</script>
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery.scrollex.min.js"></script>
	<script src="../../assets/js/skel.min.js"></script>
	<script src="../../assets/js/util.js"></script>
	<script src="../../assets/js/main.js"></script>

</body>

</html>