<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

	<script type="text/javascript" src="../../tarteaucitron/tarteaucitron.js"></script>

	<script type="text/javascript">
		tarteaucitron.init({
			"privacyUrl": "",
			/* Privacy policy url */

			"hashtag": "#tarteaucitron",
			/* Open the panel with this hashtag */
			"cookieName": "tarteaucitron",
			/* Cookie name */

			"orientation": "middle",
			/* Banner position (top - bottom) */

			"showAlertSmall": false,
			/* Show the small banner on bottom right */
			"cookieslist": false,
			/* Show the cookie list */

			"showIcon": true,
			/* Show cookie icon to manage cookies */
			"iconPosition": "BottomRight",
			/* BottomRight, BottomLeft, TopRight and TopLeft */

			"adblocker": false,
			/* Show a Warning if an adblocker is detected */

			"DenyAllCta": true,
			/* Show the deny all button */
			"AcceptAllCta": true,
			/* Show the accept all button when highPrivacy on */
			"highPrivacy": true,
			/* HIGHLY RECOMMANDED Disable auto consent */

			"handleBrowserDNTRequest": false,
			/* If Do Not Track == 1, disallow all */

			"removeCredit": false,
			/* Remove credit link */
			"moreInfoLink": true,
			/* Show more info link */
			"useExternalCss": false,
			/* If false, the tarteaucitron.css file will be loaded */

			//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

			"readmoreLink": "",
			/* Change the default readmore link */

			"mandatory": true,
			/* Show a message about mandatory cookies */
		});
	</script>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "Organization",
			"name": "magot128lvl",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Marseille",
				"postalCode": "13000 ",
				"streetAddress": "27 rue du soleil",
				"telephone": "0381752436",
				"addressCountry": "France"
			},
			"openingHours": ["Mo-Fr 10:00-19:00", "Sa 11:00-18:00"],
			"email": "magot128lvl(at)gmail.com",
			"faxNumber": "(000) 000 00 00 0",
			"image": {
				"@type": "ImageObject",
				"url": "../../assets/images/logo/poubelle invisible-noeyestrash-magot128lvl.png",
				"description": "Poubelle fantome invisible",
				"name": "Logo Magot128lvl"
			},
			"priceRange": "€€",

		}
	</script>

	<title>NoEyesTrash - Magot128lvl</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Les poubelles NoEyesTrash innovées par l’entreprise Magot128lvl sont les poubelles du futur. 
		Alors n’attendez plus et venez regarder en avant avec nous. Le futur n’attend que vous.">
	<!-- Meta Description -->
	<meta name="keywords" content="NoEyesTrash, Magot128lvl">
	<link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="../../index.html">NoEyesTrash <span>by Magot128lvl</span></a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../../index.html">Accueil</a></li>
			<li><a href="../history.html">Notre histoire : Magot128lvl </a></li>
			<li><a href="../partenariat.html">Nos partenaires</a></li>
			<li><a href="../conditions.html">Conditions d'utilisations</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>NoEyesTrash - Magot128lvl</p>
				<h2>La poubelle éducatif</h2>
			</header>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Optez pour les poubelles NoEyesTrash de Magot128Lvl</p>
						<h2>Les poubelles pour vos enfants</h2>
					</header>

					<h3>Les poubelles NoEyesTrash? Un jeu d'enfant</h3>
					<p>Voilà une idée qui va redonner le sourire aux parents mais aussi aux enfants. Magot128lvl a sorti
						la nouvelle poubelle invisible destinée aux enfants de 4 à 10 ans. Cette poubelle Noeyestrash
						est spécialement conçue pour apprendre aux enfants à bien trier les déchets, tout en ayant un
						aspect ludique à cela.</p>
					<p>Ce concept de poubelle est unique en France. Cette conception de Magot128lvl a déjà été commandée
						par plusieurs centaines d'écoles maternelle et primaire. Mais alors de quoi s’agit-il? Pas de
						panique ! On vous dit tout ici.</p>

					<h4>Un tri des déchets adapté pour les enfants, by Magot128lvl</h4>
					<p>Adieu les poubelles jaunes et bonjour aux nouvelles poubelles NoEyesTrash. Cette poubelle est
						constituée de verres et de plastique. Un code couleur (vert, jaune, rouge,..) permettra aux
						enfants de pouvoir trier leur dechets lors de leurs pause gouter. Cette poubelle est adaptée à
						la taille des enfants. De plus, on ne voit pas les déchets dans la poubelle puisqu'il y a un
						conteneur dans le sol qui permet de trier les objets et ainsi d’éviter la pollution visuelle.
					</p>

					<h4>Un aspect ludique</h4>
					<p>Avec son code couleur et son aspect moderne, cette poubelle Noeyestrash est ludique.Magot128lvl à
						penser à tous. En effet, sur cette poubelle se trouve un écran interactif pour faire comprendre
						aux enfants les bons gestes à adopter. En jetant un déchet dans le bon conteneur, la poubelle
						détectera de quoi il s’agit et affichera un bonhomme qui sourit si l’enfant à jeter au bon
						endroit. En revanche, si l’enfant jette le déchet au mauvais endroit, un bonhomme triste
						s'affiche. L’écran rappelle alors par des images ce que l’enfant aurait dû faire.</p>

					<p>Magot128lvl sera toujours là pour rendre vos vies ainsi que celles de vos enfants.Les poubelles
						NoEyesTrash n’attendent plus que vous. Alors, venez nous contactez sur notre site NoEyesTrash.fr
						By Magot128lvl !</p>


				</div>
			</div>
		</div>
	</section>

	<div class="box">
		<h3><b>Commentaires </b></h3>
		<div class="content"
			style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid#CDC99E;">

			<h4>Martin Dupont</h4>
			<p>C'est une poubelle magnifique et très ludique que je recommande à tout mes contacts.
				<strong>Magot128lvl</strong> vous êtes les meilleurs</p>
		</div>
		<div class="content"
			style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid #CDC99E;">
			<h4>Juliette Durand</h4>
			<p>Je l'ai proposé à l'école de ma fille. Les enseignants et les enfants sont fans.
				<strong>Magot128lvl</strong> vous êtes les meilleurs</p>
		</div>
	</div>

	<!-- PUB AMAZON -->
	<div style="display: flex; justify-content:center">
		<div class="amazon_product" amazonid="20010c1-21" productid="B005PS3QEO"></div>
		<div class="amazon_product" amazonid="20010c1-21" productid="B07YMFZ5QN"></div>
	</div>
	<!-- PUB ADSENSE -->
	<ins class="adsbygoogle" style="display:inline-block;width:widthpx;height:heightpx"
		data-ad-client="ca-pub-9446744921430952" data-ad-slot="ad_slot"></ins>
	<script type="text/javascript">
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<p>Magot128lvl</p>
			<p> 03.54.85.67.91</p>
			<p> 27 rue du soleil , 13000, Marseille</p>
			<ul class="icons">
				<li><a href="https://twitter.com/magot128lvl" class="icon fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/magot.lentrprise" class="icon fa-facebook"><span
							class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/magot128lvl/?hl=fr" class="icon fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="https://mail.google.com/mail/u/2/#inbox?compose=CllgCJTNqmSvnZhPlbnGdxcHKwCmxBzGvHBRGtjwqLKvwxdGdRkkzvvczndMXdxTfcxgLrhLfbq"
						class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			Quand les déchets se font discret. NoEyesTrash - Magot128lvl - All rights reserved.
			<p>BOBIN Edgar - GRUTZNER Hélène - GUTTING Fanny</p>
		</div>
	</footer>

	<!-- Scripts -->

	<script type="text/javascript">
		tarteaucitron.user.addthisPubId = 'ra-5f758e9eb783fa41';
		(tarteaucitron.job = tarteaucitron.job || []).push('addthis');
	</script>

	<script type="text/javascript">
		tarteaucitron.user.gtagUa = 'G-T0V4TDW66Y';
		tarteaucitron.user.gtagMore = function () {
			/* add here your optionnal gtag() */
		};
		(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
	</script>

	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('amazon');
	</script>
	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('adsense');
	</script>

	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery.scrollex.min.js"></script>
	<script src="../../assets/js/skel.min.js"></script>
	<script src="../../assets/js/util.js"></script>
	<script src="../../assets/js/main.js"></script>

</body>

</html>