<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

    <script type="text/javascript" src="../../tarteaucitron/tarteaucitron.js"></script>

    <script type="text/javascript">
        tarteaucitron.init({
            "privacyUrl": "",
            /* Privacy policy url */

            "hashtag": "#tarteaucitron",
            /* Open the panel with this hashtag */
            "cookieName": "tarteaucitron",
            /* Cookie name */

            "orientation": "middle",
            /* Banner position (top - bottom) */

            "showAlertSmall": false,
            /* Show the small banner on bottom right */
            "cookieslist": false,
            /* Show the cookie list */

            "showIcon": true,
            /* Show cookie icon to manage cookies */
            "iconPosition": "BottomRight",
            /* BottomRight, BottomLeft, TopRight and TopLeft */

            "adblocker": false,
            /* Show a Warning if an adblocker is detected */

            "DenyAllCta": true,
            /* Show the deny all button */
            "AcceptAllCta": true,
            /* Show the accept all button when highPrivacy on */
            "highPrivacy": true,
            /* HIGHLY RECOMMANDED Disable auto consent */

            "handleBrowserDNTRequest": false,
            /* If Do Not Track == 1, disallow all */

            "removeCredit": false,
            /* Remove credit link */
            "moreInfoLink": true,
            /* Show more info link */
            "useExternalCss": false,
            /* If false, the tarteaucitron.css file will be loaded */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

            "readmoreLink": "",
            /* Change the default readmore link */

            "mandatory": true,
            /* Show a message about mandatory cookies */
        });
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Organization",
            "name": "magot128lvl",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Marseille",
                "postalCode": "13000 ",
                "streetAddress": "27 rue du soleil",
                "telephone": "0381752436",
                "addressCountry": "France"
            },
            "openingHours": ["Mo-Fr 10:00-19:00", "Sa 11:00-18:00"],
            "email": "magot128lvl(at)gmail.com",
            "faxNumber": "(000) 000 00 00 0",
            "image": {
                "@type": "ImageObject",
                "url": "../../assets/images/logo/poubelle invisible-noeyestrash-magot128lvl.png",
                "description": "Poubelle fantome invisible",
                "name": "Logo Magot128lvl"
            },
            "priceRange": "€€",

        }
    </script>

    <title>NoEyesTrash - Magot128lvl</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Les poubelles NoEyesTrash innovées par l’entreprise Magot128lvl sont les poubelles du futur. 
		Alors n’attendez plus et venez regarder en avant avec nous. Le futur n’attend que vous.">
    <!-- Meta Description -->
    <meta name="keywords" content="NoEyesTrash, Magot128lvl">
    <link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="../../index.html">NoEyesTrash <span>by Magot128lvl</span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="../../index.html">Accueil</a></li>
            <li><a href="../history.html">Notre histoire : Magot128lvl </a></li>
            <li><a href="../partenariat.html">Nos partenaires</a></li>
            <li><a href="../conditions.html">Conditions d'utilisations</a></li>
        </ul>
    </nav>

    <!-- One -->
    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>NoEyesTrash - Magot128lvl</p>
                <h2>La poubelle pour les sacs à dos</h2>
            </header>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <p>Optez pour les poubelles NoEyesTrash de Magot128Lvl</p>
                        <h2>Nos poubelles pour les sacs à dos</h2>
                    </header>

                    <h3>Poubelles dans les sacs à dos : Ne laissez plus trainer vos déchets, emmenez les !</h3>
                    <p>Magot128lvl EST l’entreprise révolutionnant les poubelles. On vous a promis des poubelles
                        NoEyesTrash de toutes catégories. Des poubelles NoEyesTrash pour les cuisine, pour les rues, les
                        entreprises, les parcs. Eh bien maintenant, une nouvelle poubelle NoEyesTrash a rejoint les
                        rangs. Les sacs à dos NoEyesTrash. « Mais, comment ça les sacs à dos ? Ne produisez-vous pas des
                        poubelles et non pas des sacs à dos ? » . Voyons calmez-vous, je vais vous expliquer. </p>

                    <p>Magot128lvl est une entreprise du futur. Elle voit dans le passé, elle voit dans le présent, elle
                        voit dans le futur. Effectivement, l’entreprise Magot128lvl étant basée dans la production de
                        poubelles NoEyesTrash, nous avons décidé d’allier poubelles et sacs à dos. De ce fait, nous
                        avons voulu toucher un public précis en plus de vouloir « protéger » l’environnement. Notre
                        projet, intégrer une poubelle dans un sac à dos. </p>

                    <h3>Nos nouvelles poubelles :</h3>

                    <p>Ces nouvelles poubelles NoEyesTrash auront en l’occurrence une capacité moindre mais cela va
                        permettre aux personnes amateurs de randonnées ou aux randonneurs aguerris, de pouvoir se
                        balader librement en forêt ou dans des endroits ne comportant pas de poubelles à disposition de
                        tous. Ainsi au lieu de jeter bêtement les déchets dans la nature qui par la suite vont polluer
                        la nature et la beauté que nous offre celle-ci, ils pourront simplement les placer dans
                        l’emplacement prévu à cet effet, c’est-à-dire, leur sac à dos. </p>

                    <p>Nous pouvons retrouver des sacs à dos prévu pour les voitures (img du sac pour voiture). On
                        retrouve beaucoup de voiture qui sont prises pour des poubelles et pourtant elles ne sont pas
                        prévues à cet effet. Ainsi nous avons décidé de créer un sac à dos qui s’attache facilement dans
                        la voiture et qui permet d’y mettre nos déchets. Ce sac se décroche facilement et se vide aussi
                        facilement que de décrocher le sac. Comme dit précédemment nous avons également des sacs à dos
                        NoEyesTrash que les randonneurs peuvent acheter afin d’avoir, tout au long de leur périple, un
                        sac à dos mais aussi une poubelle (sac à dos randonneur poubelle). Les poubelles contenus dans
                        les sacs sont prévus afin de pouvoir y mettre tout type de déchet. Ce genre de sac peut
                        également servir à dépolluer la nature. Si vous faites ça, vous êtes une chouette personne,
                        merci à vous.</p>

                    <h3>Toujours plus pour Magot128lvl</h3>
                    <p><strong>Le tri et la valorisation</strong> sont obligatoires pour la majorité des déchets qui
                        n’ont pas pu
                        être évités. Pour les bureaux en dessous des seuils réglementaires énoncés ci-dessous, le
                        recyclage ou à défaut la valorisation énergétique restent à privilégier à l’élimination, en
                        application du principe de hiérarchie des modes de traitement. Les déchets que nous
                        retrouvons le plus fréquemment dans les bureaux sont : les papiers, les emballages cartons,
                        le plastique, l’aluminium, les cartouches d’encre et les déchets électroniques, électriques
                        d’équipements. Il est donc du devoir de Magot128lvl de créer des poubelles permettant de
                        trier tous ces déchets. <strong>Magot128lvl</strong> voulant se positionner sur le marché des
                        plus gros
                        vendeurs de poubelles, se doit de proposer des poubelles permettant le tri des différents
                        déchets. Ainsi dans la catégorie <strong>NoEyesTrash</strong> nous pouvons retrouver différents
                        types de poubelles, toujours « invisible ». Dans ces catégories de poubelles NoEyesTrash nous
                        retrouvons bien évidemment la poubelle permettant le tri des déchets.</p>

                    <div class="image fit">
                        <img src="../../assets/images/articles/poubellesac-noeyestrash-magot128lvl.jpg"
                            alt="Poubelle_invisible-NoEyesTrash-Magot128lvl" style="width: 400px;">
                    </div>

                    <p>Ces poubelles toujours designées afin de les rendre « invisibles » permettront le tri des
                        différents déchets au sein de l’entreprise. La politique de Magot128lvl est de rendre les
                        poubelles NoEyesTrash invisibles seulement vous l’aurez compris, il est difficile de faire
                        disparaître les poubelles dans les entreprises. Il faut qu’elles soient à la fois facile
                        d’accès mais aussi invisibles. C’est pour cela que l’entreprise a opté pour l’option de
                        fondre les poubelles dans le décor.</p>

                    <p>Ainsi nous proposons plusieurs poubelles qui seront pratiquement invisibles. Des poubelles
                        de la même couleur que le mur, des poubelles avec un design différent d’une poubelle
                        classique répugnante. Voici ce que propose Magot128lvl pour ses poubelles NoEyesTrash au
                        sein des entreprises.</p>
                    différents déchets au sein de l’entreprise. La politique de Magot128lvl est de rendre les
                    poubelles NoEyesTrash invisibles seulement vous l’aurez compris, il est difficile de faire
                    disparaître les poubelles dans les entreprises. Il faut qu’elles soient à la fois facile
                    d’accès mais aussi invisibles. C’est pour cela que l’entreprise a opté pour l’option de
                    fondre les poubelles dans le décor.</p>

                    <p>Ainsi nous proposons plusieurs poubelles qui seront pratiquement invisibles. Des poubelles
                        de la même couleur que le mur, des poubelles avec un design différent d’une poubelle
                        classique répugnante. Voici ce que propose Magot128lvl pour ses poubelles NoEyesTrash au
                        sein des entreprises.</p>
                    différents déchets au sein de l’entreprise. La politique de Magot128lvl est de rendre les
                    poubelles NoEyesTrash invisibles seulement vous l’aurez compris, il est difficile de faire
                    disparaître les poubelles dans les entreprises. Il faut qu’elles soient à la fois facile
                    d’accès mais aussi invisibles. C’est pour cela que l’entreprise a opté pour l’option de
                    fondre les poubelles dans le décor.</p>

                    <p>Ainsi nous proposons plusieurs poubelles qui seront pratiquement invisibles. Des poubelles
                        de la même couleur que le mur, des poubelles avec un design différent d’une poubelle
                        classique répugnante. Voici ce que propose Magot128lvl pour ses poubelles NoEyesTrash au
                        sein des entreprises.</p>
                    différents déchets au sein de l’entreprise. La politique de Magot128lvl est de rendre les
                    poubelles NoEyesTrash invisibles seulement vous l’aurez compris, il est difficile de faire
                    disparaître les poubelles dans les entreprises. Il faut qu’elles soient à la fois facile
                    d’accès mais aussi invisibles. C’est pour cela que l’entreprise a opté pour l’option de
                    fondre les poubelles dans le décor.</p>

                    <p>Ainsi nous proposons plusieurs poubelles qui seront pratiquement invisibles. Des poubelles
                        de la même couleur que le mur, des poubelles avec un design différent d’une poubelle
                        classique répugnante. Voici ce que propose Magot128lvl pour ses poubelles NoEyesTrash au
                        sein des entreprises.</p>
                     
                </div>
            </div>
        </div>
    </section>


    <div class="box">
        <h3><b>Commentaires </b></h3>
        <div class="content"
            style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid#CDC99E;">

            <h4>Jocelyne Debuis</h4>
            <p>Moi qui n'aimait pas la randonnée, je suis désormais addict. Ce sac est si pratique! Merci.
                <strong>Magot128lvl</strong> vous êtes les meilleurs</p>
        </div>
        <div class="content"
            style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid #CDC99E;">
            <h4>Julien Miahoux</h4>
            <p>C'est si pratique, il y a moins de pollutions dans la forêt, et tout ca grace à Magotlvl
                <strong>Magot128lvl</strong> vous êtes les meilleurs</p>
        </div>
    </div>

    <!-- PUB AMAZON -->
    <div style="display: flex; justify-content:center">
        <div class="amazon_product" amazonid="20010c1-21" productid="B005PS3QEO"></div>
        <div class="amazon_product" amazonid="20010c1-21" productid="B07YMFZ5QN"></div>
    </div>
    <!-- PUB ADSENSE -->
    <ins class="adsbygoogle" style="display:inline-block;width:widthpx;height:heightpx"
        data-ad-client="ca-pub-9446744921430952" data-ad-slot="ad_slot"></ins>
    <script type="text/javascript">
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <p>Magot128lvl</p>
            <p> 03.54.85.67.91</p>
            <p> 27 rue du soleil , 13000, Marseille</p>
            <ul class="icons">
                <li><a href="https://twitter.com/magot128lvl" class="icon fa-twitter"><span
                            class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/magot.lentrprise" class="icon fa-facebook"><span
                            class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/magot128lvl/?hl=fr" class="icon fa-instagram"><span
                            class="label">Instagram</span></a></li>
                <li><a href="https://mail.google.com/mail/u/2/#inbox?compose=CllgCJTNqmSvnZhPlbnGdxcHKwCmxBzGvHBRGtjwqLKvwxdGdRkkzvvczndMXdxTfcxgLrhLfbq"
                        class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            Quand les déchets se font discret. NoEyesTrash - Magot128lvl - All rights reserved.
            <p>BOBIN Edgar - GRUTZNER Hélène - GUTTING Fanny</p>
        </div>
    </footer>

    <!-- Scripts -->

    <script type="text/javascript">
        tarteaucitron.user.addthisPubId = 'ra-5f758e9eb783fa41';
        (tarteaucitron.job = tarteaucitron.job || []).push('addthis');
    </script>

    <script type="text/javascript">
        tarteaucitron.user.gtagUa = 'G-T0V4TDW66Y';
        tarteaucitron.user.gtagMore = function () {
            /* add here your optionnal gtag() */
        };
        (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
    </script>

    <script type="text/javascript">
        (tarteaucitron.job = tarteaucitron.job || []).push('amazon');
    </script>
    <script type="text/javascript">
        (tarteaucitron.job = tarteaucitron.job || []).push('adsense');
    </script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/jquery.scrollex.min.js"></script>
    <script src="../../assets/js/skel.min.js"></script>
    <script src="../../assets/js/util.js"></script>
    <script src="../../assets/js/main.js"></script>

</body>

</html>