<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

	<script type="text/javascript" src="../../tarteaucitron/tarteaucitron.js"></script>

	<script type="text/javascript">
		tarteaucitron.init({
			"privacyUrl": "",
			/* Privacy policy url */

			"hashtag": "#tarteaucitron",
			/* Open the panel with this hashtag */
			"cookieName": "tarteaucitron",
			/* Cookie name */

			"orientation": "middle",
			/* Banner position (top - bottom) */

			"showAlertSmall": false,
			/* Show the small banner on bottom right */
			"cookieslist": false,
			/* Show the cookie list */

			"showIcon": true,
			/* Show cookie icon to manage cookies */
			"iconPosition": "BottomRight",
			/* BottomRight, BottomLeft, TopRight and TopLeft */

			"adblocker": false,
			/* Show a Warning if an adblocker is detected */

			"DenyAllCta": true,
			/* Show the deny all button */
			"AcceptAllCta": true,
			/* Show the accept all button when highPrivacy on */
			"highPrivacy": true,
			/* HIGHLY RECOMMANDED Disable auto consent */

			"handleBrowserDNTRequest": false,
			/* If Do Not Track == 1, disallow all */

			"removeCredit": false,
			/* Remove credit link */
			"moreInfoLink": true,
			/* Show more info link */
			"useExternalCss": false,
			/* If false, the tarteaucitron.css file will be loaded */

			//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

			"readmoreLink": "",
			/* Change the default readmore link */

			"mandatory": true,
			/* Show a message about mandatory cookies */
		});
	</script>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "Organization",
			"name": "magot128lvl",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Marseille",
				"postalCode": "13000 ",
				"streetAddress": "27 rue du soleil",
				"telephone": "0381752436",
				"addressCountry": "France"
			},
			"openingHours": ["Mo-Fr 10:00-19:00", "Sa 11:00-18:00"],
			"email": "magot128lvl(at)gmail.com",
			"faxNumber": "(000) 000 00 00 0",
			"image": {
				"@type": "ImageObject",
				"url": "../../assets/images/logo/poubelle invisible-noeyestrash-magot128lvl.png",
				"description": "Poubelle fantome invisible",
				"name": "Logo Magot128lvl"
			},
			"priceRange": "€€",

		}
	</script>

	<title>NoEyesTrash - Magot128lvl</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Les poubelles invisibles NoEyesTrash innovées par l’entreprise Magot128lvl sont disponible également pour communes
		ou les campings, il s'agit de poubelle dans le sol.">
	<!-- Meta Description -->
	<meta name="keywords" content="NoEyesTrash, Magot128lvl">
	<link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="../../index.html">NoEyesTrash <span>by Magot128lvl</span></a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../../index.html">Accueil</a></li>
			<li><a href="../history.html">Notre histoire : Magot128lvl </a></li>
			<li><a href="../partenariat.html">Nos partenaires</a></li>
			<li><a href="../conditions.html">Conditions d'utilisations</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>NoEyesTrash - Magot128lvl</p>
				<h2>Nos poubelles enterrées</h2>
			</header>
		</div>
	</section>


	<!-- Two -->
	<section id="two" class="wrapper style2">

		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Optez pour les poubelles NoEyesTrash de Magot128Lvl contre les débordements</p>
						<h2>Présentation de notre poubelle invisible</h2>
					</header>

					<h3>Introduction</h3>
					<div style="display: flex;">
						<p> Marre des odeurs nauséabondes et des poubelles débordantes en bas de chez vous ? Optez pour
							les poubelles
							<strong> NoEyesTrash</strong> de Magot128Lvl créées spécialement pour les
							villes. Nous
							avons des artistes de tout horizons dans notre entreprise <strong>Magot128Lvl</strong>, pour
							rendre ces
							poubelles
							pratiquement invisibles puisqu'à la place de voir des poubelles gigantesques et débordantes
							vous
							verrez des poubelles très petites et jolies comme en témoignent les photos. Alors
							qu’attendez
							vous pour choisir nos poubelles invisibles NoEyesTrash et améliorer la qualité de vie de vos
							habitants ?</p>

						<div class="image fit">
							<img src="../../assets/images/articles/poubelles-noeyestrash-magot128lvl.jpg"
								alt="Poubelle_invisible-NoEyesTrash-Magot128lvl" style="width: 400px;">
						</div>

					</div>
					<h3>Pourquoi nous ?</h3>
					<p>Les riverains concernés par ce nouveau dispositif peuvent déposer leurs déchets dans <strong>nos
							poubelles NoEyesTrash 24h/24 et 7j/7</strong>.
						Il n'y a plus de dates ni d'horaires à respecter. Fini les
						nuisances ! Les poubelles ainsi stockées dans un espace aménagé dans le sol sont désormais
						invisibles depuis la rue. Les nuisances visuelles et olfactives liées au stockage des bacs
						ou des sacs sont supprimées. L'installation est évidemment pris en charge par notre entreprise
						Magot128lvl et vous avez la possibilité de choisir votre dessin parmis une large sélection !</p>

					<div style="display: flex; justify-content:center; padding: 20px;">
						<img src="../../assets/images/articles/poubelles-color1-noeyestrash-magot128lvl.jpg"
							alt="Poubelle_invisible-NoEyesTrash-Magot128lvl">
						<div style="padding: 20px;">
							<img src="../../assets/images/articles/poubelles-color2-noeyestrash-magot128lvl.jpg"
								alt="Poubelle_invisible-NoEyesTrash-Magot128lvl">
						</div>
					</div>

					<h3>Mode d’emploi des poubelles invisibles de Magot128lvl</h3>
					<h5>Pour la colonne des ordures ménagères :</h5>

					<p>Il est recommandé d’utiliser simplement des sacs d’un volume de 50 litres maximum afin de ne pas
						obstruer le système de vidage (tambour) des poubelles NoEyesTrash.
						Il est également demandé de bien fermer les sacs à déchets et de ne surtout pas déposer de
						déchets en vrac afin d’éviter les problèmes de propreté (nuisance olfactives).</p>

					<h5>Pour la colonne du tri du verre :</h5>
					<p>Il est demandé de jeter uniquement les bouteilles, pots et bocaux dans les poubelles.</p>

					<h5>Pour la colonne du tri des emballages et du papier :</h5>
					<p>Un sac de pré-tri pour l’apport des emballages et des papiers vers la colonne jaune ainsi qu’un
						guide du tri Magot128lvl est remis aux personnes résidentes aux abords des colonnes NoEyesTrash.
						Il est demandé d’y déposer tous les emballages recyclables, bouteilles, flacons plastiques,
						barquettes, films plastiques, les boîtes et bidons métalliques, les briques alimentaires ainsi
						que tous les papiers.</p>

					<h3>Plus d’infos techniques sur les colonnes enterrées NoEyesTrash de Magot128lvl :</h3>
					<h5>La pose des colonnes enterrées :</h5>
					<ol>
						<li>La réalisation des fouilles (un trou d’ environ 3.10 mètres de profondeur est creusé).</li>
						<li>La pose de préforme béton (environ 2.95 mètres hauteur d’une colonne).</li>
						<li>Le remblai (Masse de terre que l'on déplace pour surélever un terrain ou boucher un trou).
						</li>
						<li>La stabilisation (enrobé, calcaire tassé, …) autour des colonnes NoEyesTrash.</li>
						<li>La pose de la BID (Borne d’Introduction des Déchets).</li>
					</ol>

					<h3>Le nettoyage des colonnes enterrées :</h3>
					<p>Les colonnes sont nettoyées 3 fois / an par notre entreprise Magot128lvl avec un camion
						spécifique muni
						d’une buse haute pression. L’intérieur de la préforme béton ainsi que les bornes d’introductions
						des déchets (BID) sont
						nettoyés.
						Pour les jus de déchets en fond de cuve, ils sont aspirés par un tuyau relié au camion de
						nettoyage. Il sera stocké dans le camion et sera vidé à la station d’épuration. Les BID pour le
						tri du verre
						et le tri des emballages recyclables seront nettoyées 1 fois /an.</p>
				</div>
			</div>
		</div>
	</section>

	<div class="box">
		<h3><b>Commentaires </b></h3>
		<div class="content"
			style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid#CDC99E;">
			
			<h4>Ghislene Descartes</h4>
			<p>Nous n'avons plus de problème de débordement dans notre camping, c'est absolument génial.
				<strong>Magot128lvl</strong> vous êtes les meilleurs</p>
		</div>
		<div class="content"
			style="background-color: #F5F6CD; border-top: 3px solid #CDC99E; border-bottom: 2px solid #CDC99E;">
			<h4>Gaspard Groum</h4>
			<p>Mon camping est magnifique. Merci !
				<strong>Magot128lvl</strong> vous êtes les meilleurs</p>
		</div>
	</div>

	<!-- PUB AMAZON -->
	<div style="display: flex; justify-content:center">
		<div class="amazon_product" amazonid="20010c1-21" productid="B005PS3QEO"></div>
		<div class="amazon_product" amazonid="20010c1-21" productid="B07YMFZ5QN"></div>
	</div>
	<!-- PUB ADSENSE -->
	<ins class="adsbygoogle" style="display:inline-block;width:widthpx;height:heightpx"
		data-ad-client="ca-pub-9446744921430952" data-ad-slot="ad_slot"></ins>
	<script type="text/javascript">
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<p>Magot128lvl</p>
			<p> 03.54.85.67.91</p>
			<p> 27 rue du soleil , 13000, Marseille</p>
			<ul class="icons">
				<li><a href="https://twitter.com/magot128lvl" class="icon fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/magot.lentrprise" class="icon fa-facebook"><span
							class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/magot128lvl/?hl=fr" class="icon fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="https://mail.google.com/mail/u/2/#inbox?compose=CllgCJTNqmSvnZhPlbnGdxcHKwCmxBzGvHBRGtjwqLKvwxdGdRkkzvvczndMXdxTfcxgLrhLfbq"
						class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			Quand les déchets se font discret. NoEyesTrash - Magot128lvl - All rights reserved.
			<p>BOBIN Edgar - GRUTZNER Hélène - GUTTING Fanny</p>
		</div>
	</footer>

	<!-- Scripts -->

	<script type="text/javascript">
		tarteaucitron.user.addthisPubId = 'ra-5f758e9eb783fa41';
		(tarteaucitron.job = tarteaucitron.job || []).push('addthis');
	</script>

	<script type="text/javascript">
		tarteaucitron.user.gtagUa = 'G-T0V4TDW66Y';
		tarteaucitron.user.gtagMore = function () {
			/* add here your optionnal gtag() */
		};
		(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
	</script>

	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('amazon');
	</script>
	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('adsense');
	</script>

	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery.scrollex.min.js"></script>
	<script src="../../assets/js/skel.min.js"></script>
	<script src="../../assets/js/util.js"></script>
	<script src="../../assets/js/main.js"></script>

</body>

</html>