<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

	<script type="text/javascript" src="../tarteaucitron/tarteaucitron.js"></script>

	<script type="text/javascript">
		tarteaucitron.init({
			"privacyUrl": "",
			/* Privacy policy url */

			"hashtag": "#tarteaucitron",
			/* Open the panel with this hashtag */
			"cookieName": "tarteaucitron",
			/* Cookie name */

			"orientation": "middle",
			/* Banner position (top - bottom) */

			"showAlertSmall": false,
			/* Show the small banner on bottom right */
			"cookieslist": false,
			/* Show the cookie list */

			"showIcon": true,
			/* Show cookie icon to manage cookies */
			"iconPosition": "BottomRight",
			/* BottomRight, BottomLeft, TopRight and TopLeft */

			"adblocker": false,
			/* Show a Warning if an adblocker is detected */

			"DenyAllCta": true,
			/* Show the deny all button */
			"AcceptAllCta": true,
			/* Show the accept all button when highPrivacy on */
			"highPrivacy": true,
			/* HIGHLY RECOMMANDED Disable auto consent */

			"handleBrowserDNTRequest": false,
			/* If Do Not Track == 1, disallow all */

			"removeCredit": false,
			/* Remove credit link */
			"moreInfoLink": true,
			/* Show more info link */
			"useExternalCss": false,
			/* If false, the tarteaucitron.css file will be loaded */

			//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

			"readmoreLink": "",
			/* Change the default readmore link */

			"mandatory": true,
			/* Show a message about mandatory cookies */
		});
	</script>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "Organization",
			"name": "magot128lvl",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Marseille",
				"postalCode": "13000 ",
				"streetAddress": "27 rue du soleil",
				"telephone": "0381752436",
				"addressCountry": "France"
			},
			"openingHours": ["Mo-Fr 10:00-19:00", "Sa 11:00-18:00"],
			"email": "magot128lvl(at)gmail.com",
			"faxNumber": "(000) 000 00 00 0",
			"image": {
				"@type": "ImageObject",
				"url": "../assets/images/logo/poubelle invisible-noeyestrash-magot128lvl.png",
				"description": "Poubelle fantome invisible",
				"name": "Logo Magot128lvl"
			},
			"priceRange": "€€",

		}
	</script>

	<title>NoEyesTrash - Magot128lvl</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Les poubelles invisibles NoEyesTrash innovées par l’entreprise Magot128lvl sont les poubelles du futur. 
		Alors n’attendez plus et venez regarder en avant avec nous. Le futur n’attend que vous.">
	<!-- Meta Description -->
	<meta name="keywords" content="NoEyesTrash, Magot128lvl">
	<link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="../index.html">NoEyesTrash <span>by Magot128lvl</span></a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../index.html">Accueil</a></li>
			<li><a href="history.html">Notre histoire : Magot128lvl </a></li>
			<li><a href="partenariat.html">Nos partenaires</a></li>
			<li><a href="conditions.html">Conditions d'utilisations</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>Magot128lvl</p>
				<h2>Nos conditions d'utilisations</h2>
			</header>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">

					<p>Pour les adapter aux innovations techniques et à l'évolution de la législation en vigueur, nous
						devons modifier et/ou amender les Conditions d'utilisation suivantes régulièrement. Nous
						demandons donc aux utilisateurs de les consulter au début de chaque visite sur le site et de
						tenir compte des modifications/amendements éventuels.</p>
					<header class="align-center">

					</header>
					<h2>Introduction</h2>

					<p>Ce Site Internet est produit par Magot128lvl., 27 rue du Soleil , 13000 Marseille, France.
						Les informations disponibles sur ce site concernant Magot128lvl (ainsi que ses produits
						dénommés “NoEyesTrash”, les filiales de Magot128lvl ont été rassemblées avec le plus grand soin.
						Toutefois, nous ne sommes pas en mesure d´en garantir l´exhaustivité ni l´exactitude.
						Magot128lvl n´assume aucune responsabilité quant à toute erreur éventuelle pouvant être
						contenue dans ce site. Les déclarations prévisionnelles figurant sur ce site Internet,
						ont été réalisées en fonction de nos connaissances et de nos convictions. Cependant,
						les résultats réellement atteints par Magot128lvl peuvent être très différents de ces
						déclarations prévisionnelles, dans la mesure où ils dépendent d´un ensemble de critères
						de nature concurrentielle et macroéconomique qui ne sont pas toujours maîtrisés par Magot128lvl.
						Sans préjudice des dispositions légales relatives à la modification de ces déclarations
						prévisionnelles,
						Magot128lvl n´entend pas procéder régulièrement à la mise à jour des déclarations contenues dans
						ce site.</p>

					<p>En accédant à ce site, vous acceptez sans restriction ni réserve les présentes Conditions
						Générales d´Utilisation de ce Site que vous pouvez visualiser ou imprimer. </p>

					<h2>Conditions Générales d´Utilisation de ce Site Internet</h2>
					<h3>1. Droit d'auteur</h3>

					<p>Les pages de notre site (contenus, structure) sont protégées par un droit d´auteur. En
						particulier,
						toute reproduction, adaptation, traduction, stockage et traitement sur d´autres supports,
						ainsi que le stockage ou le traitement électronique, bénéficient d´une protection par droit
						d´auteur.
						Toute exploitation totale ou partielle du site nécessite le consentement préalable écrit de
						Magot128lvl.
						Toute reproduction, exploitation ou diffusion d´informations ou de données, en particulier
						l´utilisation de textes ou de parties de texte ou d´images du site (à l´exclusion des photos
						de presse de Henkel), requiert l´autorisation préalable écrite de Magot128lvl. Les droits de
						diffusion et de reproduction sont détenus par Henkel. Toute reproduction, représentation,
						publication, transmission, utilisation ou modification, intégrale ou partielle de notre site
						et/ou
						d’un de ses éléments, faite sans l’autorisation écrite et préalable de Magot128lvl constituerait
						une contrefaçon susceptible d’entraîner des poursuites civiles et/ou pénales.</p>


					<h3>2. Déni de responsabilité relatif aux sites Internet de tiers</h3>

					<p>a. Les pages de ce site Internet contiennent des liens (i.e. liens hypertexte) vers d´autres
						sites Internet exploités par des tiers et dont Magot128lvl ignore le contenu. Magot128lvl
						facilite simplement l´accès à ces sites Internet sans assumer aucune responsabilité de quelque
						nature que ce soit quant à leur contenu. Nos liens vers les sites internet de tiers sont
						simplement destinés à vous faciliter la navigation. Les communications figurant sur ces pages
						reliées ne sont pas les nôtres. Nous nous dissocions plutôt, de manière explicite, du contenu de
						ces pages et de toutes les pages de tiers reliées à celles de notre site Internet. En
						particulier, nous n´assumons aucune responsabilité relative à une quelconque violation de
						dispositions statutaires ou de droits de tiers pouvant résulter de ces pages.</p>

					<p>b. En ce qui concerne les sites Internet vers lesquels des liens hypertexte sont fournis depuis
						le site Magot128lvl, les propriétaires de ces sites sont exclusivement responsables du contenu
						de ces pages ainsi que de la vente des produits qui y sont proposés et du traitement des
						commandes y afférent.</p>

					<p>c. Magot128lvl n´assume aucune responsabilité relative à une quelconque violation de droit
						d´auteur, marques ou autres droits de propriété intellectuelle ou droits de la personnalité
						pouvant résulter de l´accès à une page par un lien hypertexte.</p>

					<p>d. Cet avis de non-responsabilité s'applique à tous les liens apparaissant sur le site
						NoEyesTrash.fr et au contenu des sites vers lesquels l'utilisateur est redirigé par ces liens.
					</p>


					<h3>3. Accès au site internet</h3>
					<p>Magot128lvl s’efforcera de mettre en œuvre tous les moyens nécessaires afin de maintenir notre
						site Internet accessible aux utilisateurs.
						Il est précisé que la responsabilité de Henkel ne peut être engagée en cas d’impossibilité pour
						l’utilisateur d’utiliser le site Internet, quelle qu’en soit la cause, en particulier lors des
						périodes au cours desquelles il est procédé à l’actualisation des informations et/ou à
						l’amélioration des programmes et/ou matériels nécessaires au bon fonctionnement des services
						proposés ou à l’extension de leurs fonctionnalités.</p>


					<p>Par ailleurs, Magot128lvl peut être amené à interrompre le site Internet, à tout moment sans
						préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que Magot128lvl ne
						soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour
						l’Utilisateur.</p>

					<h3>4. Divers</h3>

					<p>Les présentes Conditions Générales d´Utilisation sont régies et interprétées conformément aux
						lois françaises, sans considération de la Convention Européenne sur les Contrats de Vente
						Internationale de Biens, dont l´application aux présentes Conditions Générales est expressément
						exclue aux termes des présentes. Dans la mesure de ce qui est permis en vertu de la loi
						applicable, tout litige relatif à ce site Internet est soumis à la juridiction des tribunaux de
						Nanterre, France. En cas d´invalidité de l´une quelconque des dispositions des présentes
						Conditions Générales d´Utilisation, la validité des dispositions restantes n´est pas affectée.
					</p>


				</div>
			</div>
		</div>
	</section>

	<!-- PUB AMAZON -->
	<div style="display: flex; justify-content:center">
		<div class="amazon_product" amazonid="20010c1-21" productid="B005PS3QEO"></div>
		<div class="amazon_product" amazonid="20010c1-21" productid="B07YMFZ5QN"></div>
	</div>
	<!-- PUB ADSENSE -->
	<ins class="adsbygoogle" style="display:inline-block;width:widthpx;height:heightpx"
		data-ad-client="ca-pub-9446744921430952" data-ad-slot="ad_slot"></ins>
	<script type="text/javascript">
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<p>Magot128lvl</p>
			<p> 03.54.85.67.91</p>
			<p> 27 rue du soleil , 13000, Marseille</p>
			<ul class="icons">
				<li><a href="https://twitter.com/magot128lvl" class="icon fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/magot.lentrprise" class="icon fa-facebook"><span
							class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/magot128lvl/?hl=fr" class="icon fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="https://mail.google.com/mail/u/2/#inbox?compose=CllgCJTNqmSvnZhPlbnGdxcHKwCmxBzGvHBRGtjwqLKvwxdGdRkkzvvczndMXdxTfcxgLrhLfbq"
						class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			Quand les déchets se font discret. NoEyesTrash - Magot128lvl - All rights reserved.
			<p>BOBIN Edgar - GRUTZNER Hélène - GUTTING Fanny</p>
		</div>
	</footer>

	<!-- Scripts -->

	<script type="text/javascript">
		tarteaucitron.user.addthisPubId = 'ra-5f758e9eb783fa41';
		(tarteaucitron.job = tarteaucitron.job || []).push('addthis');
	</script>

	<script type="text/javascript">
		tarteaucitron.user.gtagUa = 'G-T0V4TDW66Y';
		tarteaucitron.user.gtagMore = function () {
			/* add here your optionnal gtag() */
		};
		(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
	</script>

	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('amazon');
	</script>
	<script type="text/javascript">
		(tarteaucitron.job = tarteaucitron.job || []).push('adsense');
	</script>
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/skel.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</body>

</html>